{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}{{ super() }}Add items to list{% endblock %}

{% block subnav %}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- To make sick stuff like dropdowns here we can't use li -->
        <!-- Alternatively put a sub menu on each page -->
        <li><a href="/shopping/add">Add</a></li>
        <li><a href="/shopping/remove">Remove</a></li>


    </ul>
    
</div>
{% endblock %}


{% block content %}
<div class="page-header" style="padding-left: 50px;">
    <h1>Add items</h1>
</div>

<div style="padding-left: 60px;">
<h4>Current items on list:</h4>
</div>
<br />

<div class="container">
    <table>
        
        
        {% if items %}
    
        <th style="width:500px">
            Item
        </th>
        <th>
            <!-- blank -->
        </th>
        {% for item in items %}
        <tr>
            <td>
                {{item.itemName}}
            </td>
            <td>
                {% if item.quantity %}
                {{item.quantity}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="list-group-heading" style="padding-left: 50px;">
            There's nothing on here. Add some items!
        </div>
    {% endif %}
</div>
<br />
<br />
<div class="container">
    <table>
    <form class="form" method="post" role="form">
        <tr>

        <td style="width: 300px; padding-right: 10px;">
            
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.item) }}   

        </td>
        <td style="width: 100px;">
                {{ wtf.form_field(form.quant) }}          
            
        </td>
        </tr>
        <tr>
            <td colspan="2">
   
                {{ wtf.form_field(form.submit) }}
            </td>
        </tr>
    </form>
    </table>
</div>
<!-- {{ wtf.quick_form(form)}} -->
{% endblock %}