{% extends "bootstrap/base.html" %}

{% block title %}Our Home Site{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- To make sick stuff like dropdowns here we can't use li -->
                <!-- Alternatively put a sub menu on each page -->
                <li><a href="/schedule">Robinschedule</a></li>
                <li class="dropdown">
                    <a href="/shopping" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shopping<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Add</a></li>
                      <li><a href="#">Remove</a></li>
                      <li><a href="#">View</a></li>
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

