{% extends "base.html" %}

{% block title %}{{ super() }}Edit the Schedule{% endblock %}

{% block subnav %}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- To make sick stuff like dropdowns here we can't use li -->
        <!-- Alternatively put a sub menu on each page -->
        <li><a href="/schedule/edit">Edit</a></li>

    </ul>
    
</div>
{% endblock %}

{% block content %}
<div class="page-header" style="padding-left: 50px;">
    <h1>Who's looking after Robin now?</h1>
</div>
<div class="container">
    <h3>Edit the schedule</h3>
</div>
<div class="container">
    <table class="table" style="width:80%; border:1px solid black">
        <tr>
            {% for timeHeading in timeTitle %}
            <th style="text-align:center; border:1px solid black">{{timeHeading}}</th>
            {% endfor %}
        </tr>
        <form method="POST">
        <tr>
            
            {% for scheduleCell in schedule %}
            
                {% if scheduleCell == 'E' %} 
                <td style="background-color:gold; text-align:center;border:1px solid black">
                    <select name="newSchedule">
                        <option value="E" selected>E</option>
                        <option value="T">T</option>
                        <option value="B">B</option>
                    </select>
                {% elif scheduleCell == 'T' %}
                <td style="background-color:mediumslateblue; text-align:center; border:1px solid black">
                    <select name="newSchedule">
                        <option value="E">E</option>
                        <option value="T" selected>T</option>
                        <option value="B">B</option>
                    </select>
                {% else %}
                <td style="background-color:mediumseagreen; text-align:center; border:1px solid black">
                    <select name="newSchedule">
                        <option value="E">E</option>
                        <option value="T">T</option>
                        <option value="B" selected>B</option>
                    </select>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>
    <button type="submit">Confirm</button>
    </form>
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <!-- <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul> -->
            <p> <!--To drop the alert down a bit -->
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <strong>Fail</strong>
                {% for message in messages %}
                <br>{{ message }}</br>
                {% endfor %}
                
              </div>
            </p>
        {% endif %}
    {% endwith %}
{% endblock %}