{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}{{ super() }} - Remove items from list{% endblock %}

{% block subnav %}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- To make sick stuff like dropdowns here we can't use li -->
        <!-- Alternatively put a sub menu on each page -->
        <li><a href="/shopping/add">Add</a></li>
        <li><a href="/shopping/remove">Remove</a></li>


    </ul>
    
</div>
{% endblock %}

{% block content %}
<div class="page-header" style="padding-left: 50px;">
    <h1>Remove items</h1>
</div>

<div style="padding-left: 60px;">
<h4>Current items on list:</h4>
</div>

<div class="container">
    {% if items %}
    <form method="POST">
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item"><input type='checkbox' name="removeItem" value="{{item}}"> {{item}}</input></li>
            {% endfor %}
        </ul>
        <button type="submit" >Remove</button>
    </form> 
    {% else %}
        <div class="list-group-heading" style="padding-left: 50px;">
            There's nothing on here yet.
        </div>
    {% endif %}
    {% if fail %}
    <div class="list-group-heading" style="padding-left: 50px;">
        Could not find that item to remove.
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <!-- <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul> -->
            <p> <!--To drop the alert down a bit -->
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <strong>Success</strong>
                {% for message in messages %}
                <br>{{ message }}</br>
                {% endfor %}
                
              </div>
            </p>
        {% endif %}
    {% endwith %}

</div>
{% endblock %}