{% extends "base.html" %}




{% block title %}{{ super() }}Our Robinschedule{% endblock %}

{% block subnav %}



<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- To make sick stuff like dropdowns here we can't use li -->
        <!-- Alternatively put a sub menu on each page -->
        <li><a href="/schedule/edit">Edit</a></li>

    </ul>
    
</div>
{% endblock %}

{% block content %}
<div class="page-header" style="padding-left: 50px;">
    <h1>Who's looking after Robin now?</h1>
</div>
<div class="container-fluid">
    <style>
    .current{
       border: 4px solid red; 
    }
    .eileen{
        background-color: gold;
    }
    .toby{
        background-color: mediumslateblue;
    }

    .both{
        background-color: mediumseagreen;
    }
    </style>
    <div class="table-responsive" style="overflow-x: auto;">
    <table class="table schedtable">
        <tr>
            {% for timeHeading in timeTitle %}
                {% if timeHeading == currentHour %}
                <th class="current">
                    <div style="font-weight:bolder">{{timeHeading}}:00</div>
                </th>
                {% else %}
                <th>
                    {{timeHeading}}:00
                </th>

                {% endif %}
                
            {% endfor %}

        </tr>
        <tr>
            {% for scheduleCell in schedule %}
                {% if scheduleCell == 'E' %} 
                <td class="eileen">
                    {{scheduleCell}}
                </td>
                {% elif scheduleCell == 'T' %}
                <td class="toby">
                    {{scheduleCell}}
                </td>
                {% else %}
                <td class="both">
                    {{scheduleCell}}
                </td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    </div>
</div>
{% endblock %}

<!--"background-color:mediumseagreen; text-align:center; border-spacing:5px; border:1px solid black"  -->

<!-- "background-color:mediumslateblue; text-align:center; border-spacing:5px; border:1px solid black" -->

<!-- "background-color:gold; text-align:center; border-spacing:5px; border:1px solid black" -->

<!-- "text-align:center; border-spacing:5px; border:1px solid black" -->