{% extends "base.html" %}

{% block title %}{{ super() }}What to buy{% endblock %}

{% block subnav %}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- To make sick stuff like dropdowns here we can't use li -->
        <!-- Alternatively put a sub menu on each page -->
        <li><a href="/shopping/add">Add</a></li>


    </ul>
    
</div>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}</br>
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}


<div class="page-header" style="padding-left: 50px;">
    <h1>You need to buy:</h1>
</div>
<div class="container">
    {% if items %}
    <form method="POST">
    <table>
        <tr>
            <th style="width: 90%;">
                Item
            </th>
            <th style="width: 10%;">
                
            </th>
        </tr>
        {% for item in items %}
            <tr>
                <td>
                    {{item.itemName}}
                </td>
                <td>
                    {% if item.quantity %}
                    {{item.quantity}}
                    {% endif %}
                </td>
                <td><input type="checkbox" name="itemToRemove" value="{{item}}"></td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <input type="submit" name="remove" value="Remove Item">
</form>
    <br/>
    <form method="POST">
        
        <input type="submit" name="eileen" value="Send List to Eileen">
        <input type="submit" name="toby" value="Send List to Toby">

    </form> 
    {% else %}
        <div class="list-group-heading" style="padding-left: 50px;">
            There's nothing you need to buy.
        </div>
    {% endif %}

    
</div>
{% endblock %}