{% extends "base.html" %}

{% block title %}{{ super() }}What to buy{% endblock %}

{% block subnav %}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- To make sick stuff like dropdowns here we can't use li -->
        <!-- Alternatively put a sub menu on each page -->
        <li><a href="/shopping/add">Add</a></li>
        <li><a href="/shopping/remove">Remove</a></li>


    </ul>
    
</div>
{% endblock %}


{% block content %}
<div class="page-header" style="padding-left: 50px;">
    <h1>You need to buy:</h1>
</div>
<div class="container">
    {% if items %}
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item">{{item}}</li>
        {% endfor %}
    </ul>
    <br/>
    <form method="POST">
        <ul style="list-style-type:none">
            <li><input type='radio' name="emailRecipient" value="Toby"> Email list to Toby</input></li>
            <li><input type='radio' name="emailRecipient" value="Eileen"> Email list to Eileen</input></li>
        </ul>
            <br />
            <button type="submit" >Send!</button>
    </form> 
    {% else %}
        <div class="list-group-heading" style="padding-left: 50px;">
            There's nothing you need to buy.
        </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p> <!--To drop the alert down a bit -->
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <strong>Success</strong>
                {% for message in messages %}
                <br>{{ message }}</br>
                {% endfor %}
                
              </div>
            </p>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}