{% extends "base.html" %}

{% block title %}{{ super() }}Tasks{% endblock %}

{% block content %}
<div class="page-header" style="padding-left: 50px;">
    <h1>Tasks To Do</h1>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}</br>
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}


<div class="container">
    <table class="table">
            
        <th id="item">Tasks Due Today:</th>
        <th id="selection"></th>
        

        {% if todayTasks %}
            <form method="POST">
        
                {% for task in todayTasks %}
                    <tr>
                            
                        <td id="task">{{task.name}}</td>
                        <td id="selection"><input type="radio" name="taskToUpdate" value="{{task.name}}"></td>
                            
                    </tr>  
                {% endfor %}
            
            
                
            

    </table>
    <input type="submit" name="remove" value="Remove Task">
    <input type="submit" name="delay" value="Do Tomorrow">
    </form>    
        {% else %}

    </table>
    <div class="container" style="text-align: center;">
        No tasks due today.
    </div>
        {% endif %}
</div>
<br/>
<br/>
<div class="container" style="border: 1px solid black; padding: 10px;">
    <style>
        td{
            padding:5px
        }
        .interval {
            visibility:hidden;
        }
        input#recurringTrigger:checked ~ table tr.interval {visibility: visible}
    </style>
    <h4>Add Task:</h4>
    <form method=POST name="addTask"> <!-- Form for selecting the parcel provider -->
        <input type="checkbox" name="isRecurring" value="True" id=recurringTrigger> Recurring

        <table>

            <tr>
                <td>
                    <label for="taskDescription">Task Description:</label>    
                </td>

                <td>
                    <input type="text" id="taskDescription" name="taskDescription" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="taskDate">Starting Date:</label>
                </td>
                <td>
                    <input type="date" id="taskDate" name="taskDate" required>
                </td>
            </tr>
            <!-- <tr>
                <td>

                    <input type="checkbox" name="taskType" value="Recurring task" id=recurringTrigger>Recurring

  
                </td>
                <td>
                    <input type="radio" name="taskType" value="One-time Task"> One-time
                </td>
            </tr> -->
            <tr class=interval>
                <td>
                    <label for="taskInterval">Interval:</label>
                </td>
                <td class="selected"> 
                    <input type="number" id="taskInterval" name="taskInterval" value="0">
                </td>
            </tr>
            <tr style="height: 20px;">
                <!-- blank -->
            </tr>

        </table>
    <input type="submit" name="addTask">
    </form>
</div>
<br/>
<br />

<div class="container">
    <table class="table">
            
        <th id="item">Other Tasks:</th>
        <th id="selection"></th>
        

        {% if otherTasks %}
        <form method="POST">
        
                {% for task in otherTasks %}
                    <tr>
                            
                        <td id="task">{{task.name}}</td>
                        <td id="selection"><input type="radio" name="undueTaskToRemove" value="{{task.name}}"></td>
                            
                    </tr>  
                {% endfor %}
            
            
            


    </table>
    <input type="submit" name="removeOther" value="Remove Task">
    </form>

        
        {% else %}

    </table>
    <div class="container" style="text-align: center;">
        No tasks 
    </div>
        {% endif %}
</div>
<br>
<br>

<!-- <style>

.rock, .gas, .ice {visibility: hidden;}

input#rock:checked ~ table tr.rock {visibility: visible}

input#gas:checked ~ table tr.gas {visibility: visible}

input#ice:checked ~ table tr.ice {visibility: visible}

input:checked ~ table tr {display:block}
</style>

<input type=checkbox id=rock><label> Terrestrial</label>
<input type=checkbox id=gas><label> Gas Giant</label>
<input type=checkbox id=ice><label> Ice Giant</label>
<table>
    <tr class=rock>
        <td><input type="number" id="taskInterval" name="taskInterval" required>
        </td>
    </tr>
    <tr class=ice><td>whatever for ice</td></tr>
    <tr class=gas><td>whatever for gas</td></tr>
</table> -->
{% endblock %}