{% extends "base.html" %}




{% block title %}{{ super() }}Our Robinschedule{% endblock %}

{% block content %}
<div class="page-header" style="padding: 0 0 3vw 3vw;">
    <h1>Who's looking after Robin now?</h1>  

</div>


{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            {% for category, message in messages %}
                <p>
                
                <div class="alert alert-{{category}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {% if category == 'info' %}
                            Information:
                        {% elif category == 'danger' %}
                            ERROR:
                        {% elif category == 'success' %}
                            Success:
                        {% else %}
                            {{category}}
                        {% endif %}
                    </strong>
                        
                    <br>{{ message }}
            {% endfor %}
                
                </div>
                </p>
        </div>
        {% endif %}
{% endwith %}


<div class="container-fluid">
    <style>

    .person-E{
        background-color:rgb(161, 114, 207);
        
    }
    .person-T{
        background-color: rgb(89, 68, 209);
        color:lightgray;
    }

    .person-B{
        background-color: mediumseagreen;
    }
    .person-N{
        background-color: blanchedalmond;
    }
    td{
        text-align:center
    }
    #currentCell{
        font-weight:bolder;
    }
    .sched-table{
        display: flex;
        flex-direction: row;
        flex-flow:wrap;
        background: lightgrey;
    }
    .sched-column{
        flex-grow: 1;
        flex-basis:0px;
        justify-content: stretch;
        box-sizing: border-box;
        padding: 0.1em;
   

    }
    .sched-cell{
        
        align-items: flex-start;
        border: 1px solid black;
        text-align: center;
    }
    .sched-heading{
        background: white;
    }
    #current{
        box-shadow: 0px 0px 0px 3px rgb(95, 95, 95);
        font-weight: bolder;
        font-size: 1.05em;
        
    }
    .editRow{
        display:flex;
        align-items: center;
        /* justify-content: center; */
        height: 70px;
    }
    .countCell{

        text-align: center;
        vertical-align: middle;
        height: 100%;
        padding: 5px;
        margin: 5px;
        font-weight: bold; 
    }
    #countEileen{
        background: rgb(161, 114, 207);
    }
    #countToby{
        background-color: rgb(89, 68, 209);
        color: lightgray;
    }

    .hide{
        height:0px;
        opacity:0;
    }
    .show{
        height:30px;
        opacity:100;
    }
    .default-cell{
        display: block;
    }
    .editing-cell{
        display: none;
    }
    #submit-button{
        padding:0.8vw;
    }
    #edit-button{
        padding:10px;
    }

    @media only screen and (max-width: 520px) {
        .sched-column{
            justify-content: space-between;
            /* padding-bottom: 10px; */
            }
    }
    .highlighted {
        background-color: chartreuse;
    } 
    </style>
 
<form method="POST">
<div class="sched-table">
    
       
    {% for cell in schedule %}

        {% if cell.hour == currentHour %}

        <div class="sched-column" id="current">

        {% else %}

        <div class="sched-column">
        
        {% endif %}
            
            <div class="sched-cell sched-heading">
                    
                {{cell.hour}}:00
            
            </div>
            

            <div class="sched-cell sched-content default-cell person-{{cell.sched}}">

                {{cell.sched}}

            </div>           
   

        </div>
    {% endfor %}
    
</div>
</form>
<div class='editRow'>
<div id="edit-button" style="padding-left: 1.1vw;">
    <button id="editing" onclick="toggleEditing()">Edit Schedule</button>
</div>
<div class='countCell hide' id='countEileen'>Eileen: {{counts['E'] }}</div>
<div class='countCell hide' id='countToby'>Toby: {{ counts['T'] }}</div>
</div>

<form name="JSSchedule" method='POST'  onsubmit="return getScheduleFromCells();">
<div class="hide" id="submit-button">
    <button id="submitSchedule" type="submit" formmethod="post" name="submitEdit">Submit New Schedule</button>

</div>
</form>

<script>
   

    function toggleEditing(){
        // Press the button to allow cells to be changed
        let editButton = document.querySelector('#editing')

        if (editButton.innerText.search('Edit') !== -1){
            editButton.innerText = 'Finished'
        }else if (editButton.innerText.search('Finished') !== -1){
            editButton.innerText = 'Edit Schedule'
        };

        // Reveal the form submission button
        let submitBtn = document.querySelector("#submit-button")
        if ( submitBtn.classList.contains('hide')){
            submitBtn.classList.replace('hide', 'show')
        } else if (submitBtn.classList.contains('show')){
            submitBtn.classList.replace('show', 'hide')
        };
        let countingCells = document.querySelectorAll('.countCell')
        if ( countingCells[0].classList.contains('hide')){
            countingCells[0].classList.replace('hide', 'show')
            countingCells[1].classList.replace('hide', 'show')
        } else if (countingCells[0].classList.contains('show')){
            countingCells[0].classList.replace('show', 'hide')
            countingCells[1].classList.replace('show', 'hide')
        };


        
    };
    // Read the schedule's cells and build a new schedule from it
    function getScheduleFromCells() {
            const contents = document.querySelectorAll('.sched-table .default-cell');
            let newSchedule_array = Array()
            for (i=0; i < contents.length; i++) {
                let cell = contents[i].innerText
                newSchedule_array.push(cell)
            };
            let newSchedule_string = newSchedule_array.join('')
            
            // Apply new schedule to button value
            const submitButton = document.querySelector("#submitSchedule")
            submitButton.value = newSchedule_string
            
        }; 


    // Function to facilitate cell change, using delegation
    function scheduleCellChange() {
        const table = document.querySelector('.sched-table');

        // Change cell content and class
        function clickedCell(e) {
            const editingButton = document.querySelector('#editing').innerHTML

            if (editingButton.search('Finished') !== -1){

                if (e.target.innerText.search('E') !== -1){
                    e.target.classList = ('sched-cell sched-content default-cell person-T')
                    e.target.innerText = 'T';
                }
                else if (e.target.innerText.search('T') !== -1){
                    e.target.classList = ('sched-cell sched-content default-cell person-B')
                    e.target.innerText = 'B';
                }
                else if (e.target.innerText.search('B') !== -1){
                    e.target.classList = ('sched-cell sched-content default-cell person-N')
                    e.target.innerText = 'N';
                }
                else if (e.target.innerText.search('N') !== -1){
                    e.target.classList = ('sched-cell sched-content default-cell person-E')
                    e.target.innerText = 'E';
                };

            };

            const contentCells = document.querySelectorAll('.sched-content')
            var Ecount = 0
            var Tcount = 0
            for (i=0; i < contentCells.length; i++) {
                let cell = contentCells[i].innerHTML
                
                if (cell.search('E')!== -1){
                    Ecount++
                } else if (cell.search('T') !==-1){
                    Tcount++
                } else if (cell.search('B') !== -1){
                    Ecount++
                    Tcount++
                };
            };

            const EileenCountCell = document.querySelector('#countEileen')
                EileenCountCell.innerHTML = 'Eileen: ' + Ecount
            
            const TobyCountCell = document.querySelector('#countToby')
                TobyCountCell.innerHTML = 'Toby: ' + Tcount
            };

        
        

        

    table.addEventListener('click', clickedCell);

    };
    scheduleCellChange();

    // https://stackoverflow.com/a/9084898
</script>
  
{% endblock %}
